div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
}

.line {
  width: 90%;
}
.mover {
  display: inline-block;
}

.base {
  display: flex;
  margin-top: 20px;
}
